/*.db
/*.filters
/*.lib
/*.opendb
/*.sln
/*.vcxproj
/.svn
/.vs
/CMakeCache.txt
/CMakeFiles
/cmake_install.cmake
/Debug
/MinSizeRel
/physfs-static.dir
/physfs.dir
/Release
/RelWithDebInfo
/test_physfs.dir
/Win32
